<div id="root" class="react-app-container"></div>
{% schema %}
{
  "name": "React App Root",
  "target": "section",
  "settings": [],
  "presets": [
    {
      "name": "React App Root"
    }
  ]
}
{% endschema %}